// color
$erorr-color:red;
$wrapper-color:white;

// background
$bg-color-blue:#2EC2FE;
$bg-color-dark:#1A253A;

// width
$max-width-100: 100%;
$width-35: 35%;

// height
$max-height-75: 75vh;
$min-height-100: 100vh;
$trash-img-height: 25px;

// font size
$fs12: 12px;

// margin
$margin-top-200: 200px;

// transform
$ts-ascImg: rotate(270deg);
$ts-descImg: rotate(90deg);

// opacity
$disable-opacity: 0.5;

// cursor
$enable-cursor: pointer;